<h1>Cities</h1>
  <hr>
<% @cities.each do |city| %>
  <div class="city">
    <h3>ID: </h3>
    <p><%= city.id %></p>

    <h3>Name: </h3>
    <p><%= city.name %></p>

    <h3>Cash: </h3>
    <p><%= city.resources.cash %> Crowns</p>

    <h3>Food: </h3>
    <p><%= city.resources.food %> Kgs</p>

    <h3>Materials: </h3>
    <p><%= city.resources.materials %> Kgs</p>

    <h3>Size: </h3>
    <p><%= city.land.size %> km<sub>2</sub></p>

    <h3>Barren: </h3>
    <p><%= city.land.barren %> km<sub>2</sub></p>

    <h3>Homes: </h3>
    <p><%= city.land.homes %> km<sub>2</sub></p>

    <h3>Agriculture: </h3>
    <p><%= city.land.agriculture %> km<sub>2</sub></p>

    <h3>Mines: </h3>
    <p><%= city.land.mines %> km<sub>2</sub></p>

    <h3>Industry: </h3>
    <p><%= city.land.industry %> km<sub>2</sub></p>

  </div>
<hr>
<% end %>
